@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,
      rgba(34,211,238,0.15),
      transparent 30%),
    radial-gradient(circle at bottom right,
      rgba(6,182,212,0.12),
      transparent 30%),
    #050816;

  color: var(--foreground);

  font-family: var(--font-body);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 999px;
}